@layer {
  :where(html) {
    color: var(--foreground-default);

    scrollbar-color: var(--foreground-muted) transparent; /* @TODO: proper variable */
    scrollbar-width: thin;

    /*
    This makes pages that doesn't have a scrollbar reserve the space.
    Makes thing yank less when navigation between pages with longer to shorter content.
    */
    scrollbar-gutter: stable;

    /*
    Offsets anchor scroll targets below a fixed header.
    Override --scroll-padding-top on :root to customize.
    */
    --scroll-padding-top: var(--size-control-height-medium);
    scroll-padding-top: var(--scroll-padding-top);
  }

  ::selection {
    color: var(--foreground-control-selection);
    background-color: var(--background-control-selection);
  }

  :where(:focus-visible) {
    outline-color: var(--input-focus-ring-color);
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 4px;
    border-radius: var(--border-radius-s);
  }

  :where(b, strong, th) {
    font-weight: var(--font-weight-bold);
  }

  :where(h1, h2, h3, h4, h5, h6) {
    font-weight: var(--font-weight-medium);
  }
  :where(:any-link) {
    /* By default, links are unstyled. Use .typeset or .link */
    text-decoration: none;
    color: currentColor;
  }

  :where(hr) {
    border: none;
    border-block-start: 1px solid var(--border-default);
  }
}
