@layer buttons.base, buttons.public, buttons.state;

@layer buttons.public {
  /* Color axis */

  :where(.button:not([data-color]), .button[data-color='primary']) {
    --_button-base: var(--button-primary-base);
    --_button-on-base: var(--button-primary-on-base);
    --_button-subtle: var(--button-primary-subtle);
    --_button-on-subtle: var(--button-primary-on-subtle);
    --_button-on-surface: var(--button-primary-on-surface);
  }

  :where(.button[data-color='secondary']) {
    --_button-base: var(--button-secondary-base);
    --_button-on-base: var(--button-secondary-on-base);
    --_button-subtle: var(--button-secondary-subtle);
    --_button-on-subtle: var(--button-secondary-on-subtle);
    --_button-on-surface: var(--button-secondary-on-surface);
  }

  :where(.button[data-color='danger']) {
    --_button-base: var(--button-danger-base);
    --_button-on-base: var(--button-danger-on-base);
    --_button-subtle: var(--button-danger-subtle);
    --_button-on-subtle: var(--button-danger-on-subtle);
    --_button-on-surface: var(--button-danger-on-surface);
  }

  :where(.button[data-color='inherit']) {
    --_button-base: var(--button-inherit-base);
    --_button-on-base: var(--button-inherit-on-base);
    --_button-subtle: var(--button-inherit-subtle);
    --_button-on-subtle: var(--button-inherit-on-subtle);
    --_button-on-surface: var(--button-inherit-on-surface);
  }

  /* Variant axis */

  :where(.button:not([data-variant]), .button[data-variant='filled']) {
    --_button-background: var(--_button-base);
    --_button-foreground: var(--_button-on-base);
    --_button-border: var(--_button-base);
  }

  :where(.button[data-variant='outline']) {
    --_button-background: transparent;
    --_button-foreground: var(--_button-on-surface);
    --_button-border: var(--_button-base);
  }

  :where(.button[data-variant='plain']) {
    --_button-background: transparent;
    --_button-foreground: var(--_button-on-surface);
    --_button-border: transparent;
  }

  /* Sizes */

  :where(.button:not([data-size]), .button[data-size='medium']) {
    --_button-height: var(--size-control-height-medium);
    --_button-padding-inline: var(--spacing-m);
    --_button-font-size: var(--font-size-m);
    --_button-gap: var(--spacing-xs);
    --_button-border-radius: var(--border-radius-m);
  }

  :where(.button[data-size='small']) {
    --_button-height: var(--size-control-height-small);
    --_button-padding-inline: var(--spacing-s);
    --_button-font-size: var(--font-size-s);
    --_button-gap: var(--spacing-2xs);
    --_button-border-radius: var(--border-radius-m);
  }

  :where(.button[data-size='large']) {
    --_button-height: var(--size-control-height-large);
    --_button-padding-inline: var(--spacing-l);
    --_button-font-size: var(--font-size-l);
    --_button-gap: var(--spacing-xs);
    --_button-border-radius: var(--border-radius-l);
  }
}

@layer buttons.base {
  :where(.button) {
    appearance: none;
    font: inherit;

    display: inline-flex;
    gap: var(--_button-gap);
    justify-content: center;
    align-items: center;

    font-size: var(--_button-font-size);
    font-weight: var(--button-font-weight);

    background: var(--_button-background);
    color: var(--_button-foreground);
    border: 2px solid var(--_button-border);
    border-radius: var(--_button-border-radius);
    min-height: var(--_button-height);

    padding-block: 0;
    padding-inline: var(--_button-padding-inline);

    text-align: center;
    line-height: 1;
    text-decoration: none;

    outline-offset: 0.125rem;
    outline-width: 2px;
    outline-style: solid;
    outline-color: transparent;

    cursor: pointer;

    transition:
      outline 0.1s ease-out,
      filter 0.1s ease-out,
      transform 0.1s ease-out,
      background-color 0.2s ease-out,
      border 0.2s ease-out;
  }
}

@layer buttons.state {
  :where(.button):hover {
    filter: brightness(1.05);
  }

  :where(.button[data-variant='outline']):hover,
  :where(.button[data-variant='plain']):hover {
    --_button-background: var(--_button-subtle);
    filter: none;
    --_button-foreground: var(--_button-on-subtle);
    --_button-border: var(--_button-subtle);
  }

  :where(.button):active {
    transform: translateY(1px);
    filter: brightness(0.9);
  }

  :where(.button):focus-visible {
    outline-color: var(--button-focus-ring-color);
  }
}
