@layer colors.background {
  .bg-surface-default {
    background-color: var(--surface-default);
  }

  .bg-surface-raised {
    background-color: var(--surface-raised);
  }

  .bg-surface-sunken {
    background-color: var(--surface-sunken);
  }
}

@layer colors.foreground {
  .fg-default {
    color: var(--foreground-default);
  }

  .fg-muted {
    color: var(--foreground-muted);
  }

  .fg-emphasis {
    color: var(--foreground-emphasis);
  }
}

@layer colors.border {
  .b-default {
    border-color: var(--border-default);
  }

  .b-faint {
    border-color: var(--border-faint);
  }

  .b-prominent {
    border-color: var(--border-prominent);
  }
}
