@layer colors.background {
  .bg-surface-base {
    background-color: var(--surface-base);
  }

  .bg-surface-tinted {
    background-color: var(--surface-tinted);
  }

  .bg-surface-dyed {
    background-color: var(--surface-dyed);
  }

  /* This is an escape hatch. Please use sparingly. */
  .bg-currentcolor {
    background-color: currentColor;
  }
}

@layer colors.foreground {
  .fg-default {
    color: var(--foreground-default);
  }

  .fg-muted {
    color: var(--foreground-muted);
  }

  .fg-emphasis {
    color: var(--foreground-emphasis);
  }
}

@layer colors.border {
  :where(.b-t, .b-r, .b-b, .b-l, .b-all) {
    border-color: var(--border-default);
  }

  .b-default {
    border-color: var(--border-default);
  }

  .b-faint {
    border-color: var(--border-faint);
  }

  .b-prominent {
    border-color: var(--border-prominent);
  }
}
