.of-hidden {
  overflow: hidden;
}

.of-clip {
  overflow: clip;
}

.of-scroll {
  overflow: scroll;
}

.aspect-ratio-1-1 {
  aspect-ratio: 1 / 1;
}

.d-block {
  display: block;
}
.d-contents {
  display: contents;
}
.d-inline {
  display: inline;
}
.d-iblock {
  display: inline-block;
}

.d-grid {
  display: grid;
}

.grid-subgrid {
  display: grid;
  grid-template-columns: subgrid;
}

.grid-all-columns {
  grid-column: 1 / -1;
}
