@layer stack {
  .stack,
  .stack-horizontal {
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
  }

  .stack-horizontal {
    align-items: center;
    flex-direction: row;
  }

  .grow {
    flex-grow: 1;
  }
  .shrink {
    flex-shrink: 1;
  }
  .flex-1 {
    flex: 1;
  }

  .nowrap {
    flex-wrap: nowrap;
  }
  .inline-flex {
    display: inline-flex;
  }
}
