@layer stack {
  .stack,
  .stack-horizontal {
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
  }

  .stack-horizontal {
    align-items: center;
    flex-direction: row;
  }

  .items-start {
    align-items: start;
  }
  .items-end {
    align-items: end;
  }
  .items-center {
    align-items: center;
  }
  .items-stretch {
    align-items: stretch;
  }

  .self-stretch {
    align-self: stretch;
  }

  .justify-start {
    justify-content: start;
  }
  .justify-end {
    justify-content: end;
  }
  .justify-center {
    justify-content: center;
  }
  .justify-between {
    justify-content: space-between;
  }

  .grow {
    flex-grow: 1;
  }
  .shrink {
    flex-shrink: 1;
  }
  .flex-1 {
    flex: 1;
  }

  .nowrap {
    flex-wrap: nowrap;
  }
  .inline-flex {
    display: inline-flex;
  }
}
