@layer text {
  .fw-regular {
    font-weight: var(--font-weight-regular);
  }
  .fw-medium {
    font-weight: var(--font-weight-medium);
  }
  .fw-bold {
    font-weight: var(--font-weight-bold);
  }

  .ta-center {
    text-align: center;
  }
  .ta-left {
    text-align: left;
  }
  .ta-right {
    text-align: right;
  }

  .tt-uppercase {
    text-transform: uppercase;
  }
  :where(.tt-uppercase) {
    letter-spacing: var(--letter-spacing-uppercase);
  }

  .lh-extra-tight {
    line-height: var(--line-height-extra-tight);
  }
  .lh-tight {
    line-height: var(--line-height-tight);
  }
  .lh-snug {
    line-height: var(--line-height-snug);
  }
  .lh-normal {
    line-height: var(--line-height-normal);
  }
  .lh-relaxed {
    line-height: var(--line-height-relaxed);
  }

  .t-tabular {
    font-variant-numeric: tabular-nums;
  }
}
