@layer text {
  .t-regular {
    font-weight: var(--font-weight-regular);
  }
  .t-medium {
    font-weight: var(--font-weight-medium);
  }
  .t-bold {
    font-weight: var(--font-weight-bold);
  }

  .t-center {
    text-align: center;
  }
  .t-left {
    text-align: left;
  }
  .t-right {
    text-align: right;
  }

  .t-uppercase {
    text-transform: uppercase;
  }
  :where(.t-uppercase) {
    letter-spacing: var(--letter-spacing-uppercase);
  }

  .lh-micro {
    line-height: var(--line-height-micro);
  }
  .lh-flat {
    line-height: var(--line-height-flat);
  }
  .lh-tight {
    line-height: var(--line-height-tight);
  }
  .lh-snug {
    line-height: var(--line-height-snug);
  }
  .lh-normal {
    line-height: var(--line-height-normal);
  }
  .lh-relaxed {
    line-height: var(--line-height-relaxed);
  }

  .t-tabular {
    font-variant-numeric: tabular-nums;
  }
}
